@charset "UTF-8";
/**
 * Преобразование пикселей в rem на основе переменной с базовым размером шрифта.
 * @param  {number} $px Число пикселей (с единицами измерения или без)
 * @param  {string} Число пикселей, размер контентного шрифта на проекте
 * @return {string} Результат преобразования $px в rem
 */
body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-family: "Lato-Regular", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #FFFEFD !important; }

img {
  max-width: 100%;
  height: auto; }

html {
  scroll-behavior: smooth; }

@font-face {
  font-family: "'Lato-Regular'";
  font-weight: 400;
  font-style: normal;
  src: local("Lato-Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.woff") format("woff"); }

@font-face {
  font-family: "'Rubik-Bold'";
  font-weight: bold;
  font-style: normal;
  src: local("Rubik-Bold"), local("Rubik-Bold"), url("../fonts/Rubik-Bold.woff") format("woff"); }

@font-face {
  font-family: "'Arial'";
  font-weight: 400;
  font-style: normal;
  src: local("Arial"), local("Arial"), url("../fonts/Arial.woff2") format("woff2"), url("../fonts/Arial.woff") format("woff"); }

.btn {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  white-space: nowrap;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1em;
  font-family: inherit;
  line-height: 1.5;
  text-decoration: none;
  text-transform: none;
  color: #1A212F;
  border-radius: 25px;
  background-color: #FFFEFD;
  background-image: none;
  cursor: pointer; }
  .btn:hover, .btn:focus {
    text-decoration: none;
    color: #1A212F;
    background-color: #ffcbb6;
    transition: ease-in 0.3s; }
  .btn:visited {
    color: #1A212F; }
  .btn:active, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(2, 117, 217, 0.7); }
  .btn--disabled, .btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    color: #1A212F; }
    a.btn--disabled {
      pointer-events: none; }
  .btn--intro {
    position: relative;
    margin: auto;
    width: 209px;
    margin-top: 75px; }
  .btn--intro::after {
    position: absolute;
    content: "";
    background: url("../img/paw-white.svg") no-repeat center top;
    width: 36px;
    height: 36px;
    top: 6px;
    left: 164px;
    z-index: 10; }
  .btn--room {
    width: 240px !important;
    position: relative;
    background-color: #FF7236;
    margin: auto;
    width: 209px;
    margin-top: 0;
    color: white !important; }
  .btn--room::after {
    position: absolute;
    content: "";
    background: url("../img/paw-orange.svg") no-repeat center top;
    width: 36px;
    height: 36px;
    top: 7px;
    left: 194px;
    z-index: 10; }

.page-header {
  min-height: 62px; }
  .page-header__inner {
    display: block;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    min-height: 62px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .page-header__contact {
    display: block; }
  .page-header__contact-tel {
    padding-top: 7px;
    padding-left: 15px; }

.logo {
  display: inline-block;
  white-space: nowrap;
  z-index: 110; }
  .logo__img {
    margin-top: 11px; }
  .logo img {
    display: block; }
  .logo--footer {
    margin-top: 15px; }

.main-nav {
  position: relative;
  z-index: 10;
  margin-top: 27px; }
  .main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .main-nav__list--footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    max-width: 235px; }
  .main-nav__list--footer .main-nav__item {
    min-width: 104px; }
  .main-nav__item {
    position: relative; }
  .main-nav__item--footer {
    min-width: 104px; }
  .main-nav__link {
    display: block;
    padding: 0.4em 1em;
    text-decoration: none;
    font-style: "Rubik-Bold", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #1A212F; }
    .main-nav__link:hover, .main-nav__link:focus {
      text-decoration: none;
      background-color: #e6e6e6; }
  .main-nav__link--footer {
    padding: .4em .2em;
    font-family: "Lato-Regular", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px; }
  .main-nav--footer {
    margin-top: 12px; }
  .main-nav__toggle {
    position: absolute;
    content: "";
    background: url("../img/menu-open.svg") no-repeat;
    padding: 0;
    top: -30px;
    left: 267px;
    width: 24px;
    height: 19px;
    border: none;
    z-index: 1; }

.page-footer__inner {
  display: block;
  width: 290px;
  margin-left: auto;
  margin-right: auto; }

.page-footer__copyright {
  position: relative;
  margin-top: 35px;
  font-family: "Lato-Regular", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #8F8F8F; }

.page-footer__copyright::before {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  background-color: #EFEFEF;
  top: -20px;
  left: -15px; }

.intro {
  background: url("../img/intro-mobile.jpg") no-repeat center top; }
  .intro__inner {
    display: block;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    min-height: 457px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .intro__text {
    padding-top: 35px;
    font-family: "Lato-Regular", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.8rem;
    line-height: 0.93333rem;
    text-align: center;
    color: #1A212F; }
  .intro__title {
    padding: 0;
    margin: 0;
    margin: -15px;
    font-family: "Rubik-Bold", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2.93333rem;
    line-height: 3.46667rem;
    color: #1A212F;
    text-align: center; }
  .intro__description {
    margin-top: 20px;
    min-width: 277px;
    font-family: "Lato-Regular", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.26667rem;
    color: #1A212F;
    text-align: center; }

.about__inner {
  display: block;
  width: 290px;
  margin-left: auto;
  margin-right: auto; }

.features {
  margin-top: 37px;
  background: url("../img/paw-background.svg") no-repeat;
  background-position-x: 295px; }
  .features__inner {
    display: block;
    width: 290px;
    margin-left: auto;
    margin-right: auto; }
  .features__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px; }
    .features__row > * {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
  .features__item {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px; }
  .features__item-wrap {
    padding-bottom: 7px;
    box-shadow: 1px 1px 6px #d3d3d3;
    border-radius: 6px;
    background-color: white; }
  .features__header {
    font-family: "Rubik-Bold", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 43px;
    text-align: center;
    padding-top: 22px;
    margin-bottom: 30px;
    color: #1A212F; }
  .features__title {
    font-family: "Rubik-Bold", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #1A212F;
    padding-left: 25px; }
  .features__text {
    max-width: 240px;
    padding-left: 25px;
    margin-top: -7px;
    font-family: "Lato-Regular", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
    color: #1A212F; }
  .features__img {
    margin-left: 25px;
    margin-top: 23px;
    margin-bottom: 7px; }

.require__inner {
  display: block;
  width: 290px;
  margin-left: auto;
  margin-right: auto; }

.contacts__inner {
  display: block;
  width: 290px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FAC663; }

.contacts__grid {
  display: block; }

.contacts__adress {
  margin-top: 30px; }

.contacts__social {
  margin-top: 26px;
  margin-bottom: 35px; }

.contacts__social .social {
  padding-left: 0;
  margin-top: -10px;
  margin-left: -5px; }

.contacts__map {
  margin-top: 35px;
  min-height: 300px;
  width: 320px;
  height: 300px;
  margin-left: -15px; }

.contacts__map-img {
  position: relative;
  display: block; }

.contacts__map-img::before {
  position: absolute;
  content: "";
  background: url("../img/marker.svg") no-repeat;
  width: 56px;
  height: 69px;
  top: 100px;
  left: 130px; }

.contacts__title {
  padding-top: 33px;
  font-family: "Rubik-Bold", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px; }

.contacts__subtitle {
  font-family: "Lato-Regular", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px; }

.contacts__text {
  font-family: "Lato-Regular", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px; }

.room {
  margin-top: -40px;
  background: url("../img/fish-background.svg") no-repeat;
  background-position-x: 75px;
  background-position-y: 60px; }
  .room__inner {
    display: block;
    width: 290px;
    margin-left: auto;
    margin-right: auto; }
  .room__header {
    font-family: "Rubik-Bold", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 5px; }
  .room__item {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-bottom: 25px;
    width: 287px; }
  .room__item-wrap {
    margin-left: 1px;
    box-shadow: 1px 1px 6px #d3d3d3;
    border-radius: 6px;
    padding-bottom: 15px;
    background-color: white; }
  .room__title {
    font-family: "Rubik-Bold", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding-top: 3px;
    padding-left: 25px; }

.review {
  margin-top: 60px;
  min-height: 385px;
  background: url("../img/paw-rotate.svg") no-repeat;
  background-position-x: 290px;
  background-position-y: -30px; }
  .review__inner {
    display: block;
    width: 290px;
    margin-left: auto;
    margin-right: auto; }
  .review__header {
    font-family: "Rubik-Bold", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center; }
  .review__grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin: 0; }
    .review__grid > * {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
  .review__item {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0; }
  .review__item-wrap {
    position: relative;
    box-sizing: border-box;
    margin-left: 1px;
    margin-right: 3px;
    min-height: 223px;
    box-shadow: 1px 1px 6px #d3d3d3;
    border-radius: 6px;
    margin-bottom: 6px;
    background-color: white; }
  .review__item-wrap::before {
    position: absolute;
    content: "";
    background: url("../img/quote.svg") no-repeat;
    width: 21px;
    height: 25px;
    left: 27px;
    top: 20px; }
  .review__text {
    max-width: 215px;
    padding-top: 15px;
    padding-left: 56px;
    font-family: "Lato-Regular", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 140%; }
  .review__author {
    display: none; }

.navbar {
  display: none;
  position: absolute;
  width: 320px;
  background-color: #FAC663 !important;
  margin-left: -15px;
  padding-top: 60px;
  z-index: 100;
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  padding-bottom: 162px; }

.nav-open .navbar {
  transform: translateX(0);
  display: block; }

.nav-open .hamburger {
  background: url("../img/menu-close.svg") no-repeat !important;
  width: 14px;
  height: 14px;
  top: 1px;
  left: -5px;
  position: absolute;
  content: ""; }

.list-bullet {
  list-style: none;
  margin-top: 0;
  max-width: 140px; }
  .list-bullet > li {
    position: relative;
    font-family: "Lato-Regular", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 10px; }
    .list-bullet > li:before {
      content: '';
      position: absolute;
      top: 4px;
      left: -17px;
      font-size: 80%;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: #FAC663; }

.social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  padding: 0;
  padding-left: 10px;
  list-style: none; }
  .social__link-wrap {
    margin-right: 10px; }
  .social__link {
    display: block;
    padding: 5px; }
    .social__link svg {
      display: block; }
  .social__text {
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; }

.nav-toggle {
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 19px;
  margin-top: 23px;
  margin-left: -5px;
  border: none;
  background-color: transparent;
  z-index: 1000; }
  .nav-toggle .hamburger {
    top: 1px;
    left: -5px;
    position: absolute;
    content: "";
    background: url("../img/menu-open.svg") no-repeat;
    padding: 0;
    width: 24px;
    height: 19px;
    border: none;
    z-index: 1;
    left: 0; }
  @media (min-width: 320px) {
      .page-header__inner {
        width: 290px;
        padding-left: 15px;
        padding-right: 15px; }
    .page-footer__inner {
      width: 290px;
      padding-left: 15px;
      padding-right: 15px; }
      .intro__inner {
        width: 290px;
        padding-left: 15px;
        padding-right: 15px; }
    .about__inner {
      width: 290px;
      padding-left: 15px;
      padding-right: 15px; }
      .features__inner {
        width: 290px;
        padding-left: 15px;
        padding-right: 15px; }
    .require__inner {
      width: 290px;
      padding-left: 15px;
      padding-right: 15px; }
    .contacts__inner {
      width: 290px;
      padding-left: 15px;
      padding-right: 15px; }
      .room__inner {
        width: 290px;
        padding-left: 15px;
        padding-right: 15px; }
      .review__inner {
        width: 290px;
        padding-left: 15px;
        padding-right: 15px; } }
  @media (min-width: 480px) {
      .features__item {
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px; }
      .room__item {
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0; }
      .review__item {
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0; } }
  @media (min-width: 768px) {
      .btn--intro {
        margin-top: 17px; }
      .page-header__inner {
        width: 678px; }
      .page-header__inner {
        min-height: 76px; }
      .page-header__contact {
        display: none; }
    .logo {
      display: block; }
    .main-nav {
      margin-top: 22px;
      margin-left: 10px;
      margin-right: 0; }
      .main-nav__list {
        display: -ms-flexbox;
        display: flex;
        min-width: 430px; }
      .main-nav__link {
        font-size: 16px;
        line-height: 19px; }
    .page-footer__inner {
      width: 678px; }
  .page-footer__wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }
    .page-footer__copyright {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-align: center;
          align-items: center; }
    .page-footer__copyright::before {
      width: 678px;
      left: 0; }
    .intro {
      background: url("../img/intro-tablet.jpg") no-repeat center top; }
      .intro__inner {
        width: 678px; }
      .intro__inner {
        padding-bottom: 410px; }
      .intro__text {
        padding-top: 125px; }
      .intro__title {
        font-size: 62px;
        line-height: 73px; }
      .intro__description {
        font-size: 20px;
        line-height: 24px; }
    .about__inner {
      width: 678px; }
    .features {
      margin-top: 0;
      background-position-x: 555px;
      background-size: 300px 257px; }
      .features__inner {
        width: 678px; }
      .features__row {
        margin-top: 55px; }
      .features__item {
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
        max-width: 50%;
        padding-left: 15px;
        padding-right: 15px; }
      .features__item-wrap {
        padding-bottom: 0;
        height: 285px; }
      .features__header {
        padding-top: 80px;
        font-size: 36px;
        line-height: 43px; }
      .features__img {
        width: 75px;
        height: 75px; }
    .require__inner {
      width: 678px; }
    .contacts__inner {
      width: 678px; }
    .contacts__grid {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: justify;
          justify-content: space-between; }
    .contacts__adress {
      margin-top: 0; }
    .contacts__map {
      margin: 0;
      margin-top: -90px;
      width: auto;
      height: auto;
      margin-bottom: -4px; }
    .contacts__map-img {
      margin: 0; }
    .room {
      background-size: 339px 109px;
      background-position-x: 45px;
      background-position-y: 35px; }
      .room__inner {
        width: 678px; }
      .room__item {
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0; }
      .room__item {
        width: 443px;
        max-height: 335px; }
      .room__item-wrap {
        box-shadow: none; }
    .room__content {
      position: relative;
      left: 285px;
      top: -290px;
      width: 345px;
      box-shadow: 1px 1px 6px #d3d3d3;
      border-radius: 6px;
      padding: 20px;
      background-color: white; }
    .review {
      background-position-x: 575px;
      background-position-y: -30px;
      background-size: 300px 257px; }
      .review__inner {
        width: 678px; }
      .review__item {
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0; }
      .review__item {
        padding-bottom: 15px; }
      .review__item-wrap {
        padding-bottom: 15px; }
      .review__author {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        font-family: "Lato-Regular", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #848484; }
    .navbar {
      display: block;
      position: static;
      min-width: 430px;
      width: auto;
      margin: 0;
      padding: 0;
      background-color: #FFFEFD !important; }
    .nav-toggle {
      display: none; } }
  @media (min-width: 1024px) {
  body {
    min-height: 3560px; }
      .page-header__inner {
        width: 930px; }
    .page-footer__inner {
      width: 930px; }
    .intro {
      background: url("../img/intro-desktop.jpg") no-repeat center top; }
      .intro__inner {
        width: 930px; }
    .about__inner {
      width: 930px; }
      .features__inner {
        width: 930px; }
      .features__item {
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
        max-width: 33.33333%;
        padding-left: 15px;
        padding-right: 15px; }
    .require__inner {
      width: 930px; }
    .contacts__inner {
      width: 930px; }
      .room__inner {
        width: 930px; }
      .room__item {
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0; }
      .review__inner {
        width: 930px; }
      .review__item {
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0; } }
  @media (min-width: 1200px) {
      .page-header__inner {
        width: 1170px; }
    .page-footer__inner {
      width: 1170px; }
      .intro__inner {
        width: 1170px; }
    .about__inner {
      width: 1170px; }
      .features__inner {
        width: 1170px; }
      .features__item {
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
        max-width: 16.66667%;
        padding-left: 10px;
        padding-right: 10px; }
    .require__inner {
      width: 1170px; }
    .contacts__inner {
      width: 1170px; }
      .room__inner {
        width: 1170px; }
      .review__inner {
        width: 1170px; } }
  @media (min-width: 2500px) {
      .page-header__inner {
        width: 1170px; }
    .page-footer__inner {
      width: 1170px; }
      .intro__inner {
        width: 1170px; }
    .about__inner {
      width: 1170px; }
      .features__inner {
        width: 1170px; }
      .features__item {
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
        max-width: 8.33333%;
        padding-left: 13px;
        padding-right: 13px; }
    .require__inner {
      width: 1170px; }
    .contacts__inner {
      width: 1170px; }
      .room__inner {
        width: 1170px; }
      .review__inner {
        width: 1170px; } }
