.main-nav {
  position: relative;
  z-index: 10;

  // первый уровень
  &__list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;

 }

  &__link {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: #fff;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $gray-lightest;
    }

  }

  // переключатель

  &__toggle {
    position: absolute;
    content: "";
    background: url('../img/menu-open.svg') no-repeat;
    padding: 0;
    top: -30px;
    left: 267px;
    width: 24px;
    height: 19px;
    // background-size: 22px  14px;
    border: none;
    z-index: 1;
  }
}
