.intro {
  background: url('../img/intro-mobile.jpg') no-repeat center top;

  @media (min-width: $screen-md) {
    background: url('../img/intro-tablet.jpg') no-repeat center top;
  }

  @media (min-width: $screen-lg) {
    background: url('../img/intro-tablet.jpg') no-repeat center top;
  }

  &__inner {
    @include container;
    outline: 1px dotted #000000;
    min-height: 457px;
  }

  &__text {
    font-family: $font-family;
    font-size: rem(12px);
    line-height: rem(14px);
    text-align: center;
    color: $text-color;
  }

  &__title {
    font-family: $font-family--rubik;
    font-size: rem(44px);
    line-height: rem(52px);
    color: $text-color;
    text-align: center;
  }

  &__description {
    width: 277px;
    font-family: $font-family;
    font-weight: 500;
    font-size: rem(16px);
    line-height: rem(19px);
    color: $text-color;
    text-align: center;
  }
}
