.navbar {
  position: fixed;
  width: 320px;
  // background-color: $bullet-color!important;
  // transform: translateX(50%);
  margin-left: -15px;
  padding-top: 60px;
  z-index: 100;
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}
