.room {
  margin-top: -40px;

  &__inner {
    @include container;
    outline: 1px dotted #000000;
  }

  &__header {
    font-family: $font-family--rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    padding-top: 22px;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family:$font-family--rubik;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
}
